$main-background: #252525;
$light-background: #353535;
$main-border: #434343;

$main-text: #f0e7d5;
$header-text: #e8e8e8;

$link-text: #ffcc00;
$link-hover: #ffeb9b;

$main-font:
  1em/1.5 "OpenSansLight",
  Helvetica,
  Arial,
  sans-serif;

$code-font:
  0.8em Monaco,
  "Bitstream Vera Sans Mono",
  "Lucida Console",
  Terminal,
  monospace;