---
layout: default
---

<h1>InfosecSapper</h1>
<p>Security research, system behaviour, attack paths, adversary tradecraft and defensive investigations.</p>
<h2>Knowledge Base</h2>

{% assign excluded = "posts,drafts" | split: "," %}
{% assign collections = site.collections | sort: "weight" %}
{% for collection in collections %}
    {% unless excluded contains collection.label %}
        <section>
            <h3>{{ collection.title | default: collection.label | replace: "_", " " }} ({{ collection.docs.size }} article{% if collection.docs.size != 1 %}s{% endif %})</h3>
            <p>{{ collection.description }}</p>

            {% if collection.docs.size > 0 %}
            <h3>Recent additions:</h3>
            <ul>
                {% assign docs = collection.docs | sort: "title" %}
                {% for doc in docs limit:3 %}
                <li>
                    <a href="{{ doc.url }}">{{ doc.title }}</a>
                </li>
                {% endfor %}
            </ul>
            {% endif %}
            <p><a href="/{{ collection.label }}/">View all →</a></p>
        </section>
    
    {% endunless %}
{% endfor %}