---
layout: default
---

<br><br>

<h1>InfosecSapper</h1>

<br><br>

<p>
Security research, system behaviour, attack paths,
adversary tradecraft and defensive investigations.
</p>

<br><br>

<h2>Knowledge Base</h2>

<br><br>

{% assign excluded = "posts,drafts" | split: "," %}
{% assign collections = site.collections | sort: "weight" %}

{% for collection in collections %}

    {% unless excluded contains collection.label %}

        <section>

            <h3>
                {{ collection.title | default: collection.label | replace: "_", " " }}
            </h3>

            <p>
                {{ collection.description }}
            </p>

            <p>
                {{ collection.docs.size }} article{% if collection.docs.size != 1 %}s{% endif %}
            </p>

            {% if collection.docs.size > 0 %}
            <ul>
                {% assign docs = collection.docs | sort: "title" %}
                {% for doc in docs %}
                <li>
                    {{ doc.url }}
                </li>
                {% endfor %}
            </ul>
            {% endif %}

        </section>

        <br><br>

    {% endunless %}

{% endfor %}